#content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#queue {
  flex: 1 1 auto;
  height: auto;
}

header{
  background-color: #0d6efd;
}

.nav-link
{
  color: white !important;
}

.nav-auth
{
  margin-left: auto;
}

.navbar-brand
{
  color: white !important;
}

.videoContainer{
  width: 100%;
  height: 100%;
}

.cdgContainer{
  width: 100%;
  height: 100%;
}

.audioContainer
{
  width: 100%;
  height: fit-content;
  display: table;
}

.mediaControls-container
{
  min-height: 1.7em;
}

.mediaControls-label
{
  text-align: center;
  font-size: .75em !important;
}

.audioWrapper
{
  width: fit-content;
  height: 54px !important;
  display: table-cell;
}

.buttonWrapper
{
  display: flex;
}

.video
{
  width: 100%;
  height: 100%;
}

.qrCodeDialog{
  width: 200px;
  height: 200px;
  align-content: center;
}

.mdi
{
  border: none;
  align-content: center;
}

.toolbarButton
{
  font-size: 1em;
  border-radius: 3px;
}

.addToQueueButton
{
  font-size: .75em;
  color: Blue;
}

.join-container
{
  display: none;
  height: 100px;
  width: 400px;
}

.mdiButton:hover
{
  background-color: #e5e5e5;
}

.queue-grid
{
  width: 600px;
}

.queue-gridHeader
{
  display: contents;
  background: grey;
}

.queue-gridColumnHeader
{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background-color: gray;
}

.queue-gridTable
{
  margin-left: 5vw;
  margin-right: 1vw;
  border-left: 1px solid #5c9ccc;
  border-right: 1px solid #5c9ccc;
  border-bottom: 1px solid #5c9ccc;
}

.queue-gridRow
{
  background-color: lightgrey;
  font-size: 1em;
}

.searchBox
{
  width: 15em;
}

.inputLabel
{
  align-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.searchToolbar
{
  background-color: #F0F0F0;
  display: flex;
  vertical-align: top;
}


.searchTypeDiv
{
  display: flex;
  margin-left: 1vw;
  margin-right: 1vw;
  border: 1px dotted black;
}

.searchButton
{
  margin:0px;
  margin-left: .5em;
  padding: 0px;
  height: 30px;
}

.search-gridHeader
{
  display: contents;
  font-size: 1em;
}

.search-gridColumnHeader
{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  background-color: darkgoldenrod;
}

.search-gridRow-even
{
  background-color: lightgray;
  font-size: .75em;
}

.search-gridRow-odd
{
  background-color: gray;
  color: white;
  font-size: .75em;
}

.search-gridTable
{
  width: 100%;
}

.search-gridRow
{
  background-color: lightgrey;
  font-size: .75em;
}
